<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/main}">
<head>
    <title>Dashboard</title>
</head>
<body>

<section layout:fragment="content">
    Dashboard Example

    <h1>Welcome, <span th:text="${username}">User</span>!</h1>


    <table class="table table-bordered table-hover mt-4">
        <caption class="caption-top">Application List</caption>
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="app : ${appList}">
            <td th:text="${app.id}">1</td>
            <td th:text="${app.nmApp}">App Name</td>
            <td th:text="${app.branch.branchName}">Branch Name</td>
        </tr>
        </tbody>
    </table>

</section>
</body>
</html>