<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Header Fragment</title>
</head>
<body>
<div th:fragment="header">
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
                <li><a href="/dashboard">Dashboard</a></li>
                <li><div th:insert="~{fragments/logoutForm.html :: logout}"></div></li>
            </ul>
        </nav>
    </header>
</div>
</body>
</html>
